{:nrepl {:port 8777}

 

 :source-paths ["src" "test"]

 :dependencies
 [[re-frame "1.4.7"]
  [reagent "2.0.1"]
  [day8.re-frame/http-fx "0.2.4"]
  [metosin/reagent-dev-tools "1.2.0"]
  [metosin/malli "0.16.4"]
  [garden "1.3.10"]
  [net.dhleong/spade "2.0.0"]
  [binaryage/devtools "1.0.7"]
  [medley "1.4.0"]
  [com.andrewmcveigh/cljs-time "0.5.2"]
 [cljs-ajax "0.8.4"]
 [venantius/accountant "0.2.5"]]

 :dev-http
 {8280 "resources/public"
  8290 "target/browser-test"}

 :builds
 {:app
  {:target     :browser
   :output-dir "resources/public/js/compiled"
   :asset-path "/js/compiled"
   :modules
   {:app {:init-fn sports.core/init}}
   :devtools
   {:preloads []}
   :compiler-options
   {:warnings {:redef false}}
   :dev
   {:compiler-options
    {:closure-defines
     { }}}}

  :browser-test
  {:target    :browser-test
   :test-dir  "target/browser-test"
   :ns-regexp "-test$"}

  :karma-test
  {:target    :karma
   :ns-regexp "-test$"
   :output-to "target/karma-test.js"}}}
